html,body{
    max-width: 1440px;
    margin: 0 auto;
    padding:0;
    background-color: #191919;
    font-family: 'DM Sans'   
}

.header_content_contaner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
    background-color: #191919;
    height: 67px;
    padding: 26px 50px;      
}

.header__logo {
    width: 160px;
    height: 33px;    
    margin-top: 17px;
}

.menu__body{
    display: flex; 
    align-items: center;
}

.menu__list{
    display: flex;        
}

.menu__link{      
    font-size: 17px;
    font-weight: 400px;
    line-height: 27px;
    color: #ffff;
    text-decoration: none;
    transition: color 0.3s ease 0s;    
}

.menu__link:hover {
    color: #118DA8;    
}

li {
    list-style-type: none;
    padding: 0 0 0 40px; 
}


.home{
    height: 873px;
    padding: 40px 70px 0 70px;   
}

.home__conrainer{    
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffff;
}

.home__photo{
    height: 100%;
}

.main_photo{
    position: relative;
}

.lines{
    position: relative;
    left: -26px;
    top: -904px;
}

.line_next{
    position: relative;
    top: -65px;
    left: -3px;
}

.home__content{
    display: block;   
    width: 100%;
    margin-left: 60px;
    margin-top: 50px;
}

.home__title{    
    font-size: 70px;    
    line-height: 88px;
    letter-spacing: 3.2px;
    font-weight: lighter;  
}


.home__text{
    margin-bottom: 25px;
    margin-top: 85px;

    h1{
        font-weight: lighter;
        color: #ffff;  
    }
}

.home__media{
    font-size: 15px;    
    padding-left: 22px;
    
}

.home__media_streaming{
    margin-top: 16px;
}

.stream_logo{    
    padding-right: 8px;
    width: 32px;
    height: 32px;
}


.episodes{
    margin: 100.44px 70px 40px 70px;
}


.latest_episodes{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1{
        font-size: 64px;
        color: #ffff;
        font-weight: lighter;
        letter-spacing: 3.2px; 
    }; 
}

.btn{    
    background-color: #118DA8;
    color:#ffff;
    font-family: 'DM Sans';
    font-size: 17px;    
    font-weight: lighter;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;    
}